	<ion-view view-title="{{ cb_clientes.nome }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-cb_clientes_singles" class="page-cb_clientes_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="hero slide-up dark-bg" style="background-image: url('data/images/background/bg0.jpg');">
				<div class="padding-horizontal padding-bottom content content">
					<img class="avatar" ng-src="&nbsp;" />
					<h3><a class="light">{{ cb_clientes.nome }}</a></h3>
					<h4 class="light">{{cb_clientes.email}}</h4>
				</div>
			</div>
			<div class="list card">
					<div class="item">{{cb_clientes.nome}}</div>
					<h2 class="item noborder">{{cb_clientes.telefone}}</h2>
			</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
